{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": false,
	"trailingComma": "none",
	"printWidth": 80,
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"jsxBracketSameLine": false,
	"endOfLine": "auto",
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore"
}